node_modules
*/.expo
.expo
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env*
.DS_Store
prisma-client-js
.serverless
.webpack
.next
out
next.config.original*
.serverless_nextjs
keystore
build
.vscode
yarn-error.log
lib